<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Add Topic</title>
<meta charset="UTF-8"/>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style>
html, body, .login-box {
	height: 100%;
}

#submit-btn {
	color: white !important;
}

</style>
</head>

<body>
	<nav>
		<div class="nav-wrapper indigo darken-1">
			<a href="#!" class="brand-logo center">TWITTER SENTIMENT ANALYSIS</a>
			<!-- <ul class="left hide-on-med-and-down">-->
			<ul class="right">
				<li class="active"><a href="/add-topic">Add Topics</a></li>
				<li><a href="/view-topic">View Topics</a></li>
			</ul>
		</div>
	</nav>
	<div class="valign-wrapper row login-box">
		<div class="col card hoverable s10 pull-s1 m4 pull-m4 l4 pull-l4">
			<form id="add-topic-form" action="#" th:action="@{/create-topic}" th:object="${topic}" method="post">
				<div class="card-content">
					<span class="card-title" style="text-align: center; font-weight: bold">Add Topic</span>
					<hr/>
					<div class="row">
						<div class="input-field col s12">
							<label for="title">Title</label> <input type="text"
								class="validate" th:field="*{title}" name="title" id="title" />
						</div>
						<div class="input-field col s12">
							<label for="description">Description </label> <input type="text"
								class="validate" th:field="*{description}" name="description" id="description" />
						</div>
					</div>
				</div>
				<div class="card-action right-align">
					<input type="reset" id="reset"
						class="btn-flat waves-effect"> 
						<input type="submit" id="submit-btn"
						class="btn pink waves-effect waves-light" 
						value="Submit">
				</div>
			</form>
		</div>
	</div>

	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>

	<!-- Compiled and minified JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script>
		
		$("#add-topic-form").on("submit", function(event) {
		    event.preventDefault();

		    if ($("#title").val() == "") {
				M.toast({html: 'Enter Title', classes: 'rounded'});
				return;
			} else if ($("#description").val() == "") {
				M.toast({html: 'Enter Description', classes: 'rounded'});
				return;
			}

		    $(this).off("submit");

		    this.submit();
		});
	</script>
</body>

</html>