<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>View Topics</title>
<meta charset="UTF-8" />

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style>
html, body, .login-box {
	height: 100%;
}
</style>
</head>

<body>
	<nav>
		<div class="nav-wrapper indigo darken-1">
			<a href="#!" class="brand-logo center">TWITTER SENTIMENT ANALYSIS</a>
			<ul class="right">
				<li><a href="/add-topic">Add Topics</a></li>
				<li class="active"><a href="/view-topic">View Topics</a></li>
			</ul>
		</div>
	</nav>
	<div class="valign-wrapper row login-box">
		<div class="col card s10 pull-s1 m4 pull-m4 l4 pull-l4">
			<!-- <div class="card-image">
				
			</div> -->
			<div class="card-content">
				<div th:if="${ not#lists.isEmpty(topicList)}">
					<span class="card-title" style="text-align: center; font-weight: bold">Topics</span>
					<hr/>
					<table class="highlight">
						<tr>
							<th>Sr No</th>
							<th>Title</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
						<tr th:each="topic,iterator : ${topicList}">
							<td th:text="${iterator.index + + 1}"></td>
							<td th:text="${topic.title}"></td>
							<td th:text="${topic.status}"></td>
							<td><a class="waves-effect waves-light btn pink" href="/word-cloud">View Result 
							<i class="material-icons right">cloud</i></a></td>
						</tr>
					</table>
				</div>
				<div th:unless="${ not#lists.isEmpty(topicList)}">
					<span class="card-title">No Topics. Please add a topic</span>
				</div>
			</div>
		</div>
	</div>

	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>

	<!-- Compiled and minified JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	</script>
</body>

</html>