<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>View Topics</title>
<meta charset="UTF-8" />

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
<link rel="stylesheet" href="/css/jqcloud.min.css">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style>
html, body, .login-box {
	height: 100%;
}
</style>
</head>

<body>
	<nav>
		<div class="nav-wrapper indigo darken-1">
			<a href="#!" class="brand-logo center">TWITTER SENTIMENT ANALYSIS</a>
			<ul class="right">
				<li><a href="/add-topic">Add Topics</a></li>
				<li class="active"><a href="/view-topic">View Topics</a></li>
			</ul>
		</div>
	</nav>
	<div class="valign-wrapper row login-box">
		<div class="col card s10 pull-s1 m4 pull-m4 l4 pull-l4">
			<div class="card-content">
				<span class="card-title" style="text-align: center; font-weight: bold">Word Cloud</span>
				<hr/>
				<div id="demo">
				</div>
				
			</div>
		</div>
	</div>

	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>

	<!-- Compiled and minified JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
	<script src="/js/jqcloud.min.js"></script>
	
	<script>
		$(document).ready(function() {
			var words = [{ text: 'chelsea', weight:18 },
				 { text: 'looking', weight:13 },
				 { text: 'job', weight:15 },
				 { text: 'football', weight:72 },
				 { text: 'support', weight:11 },
				 { text: 'palace', weight:10 },
				 { text: 'match', weight:140 },
				 { text: 'live', weight:165 },
				 { text: 'april', weight:14 },
				 { text: '17', weight:55 },
				 { text: '8', weight:11 },
				 { text: 'premier', weight:26 },
				 { text: 'easter', weight:35 },
				 { text: 'boys', weight:27 },
				 { text: 'way', weight:11 },
				 { text: '𓃵', weight:11 },
				 { text: 'card', weight:10 },
				 { text: 'new', weight:39 },
				 { text: 'trophy', weight:12 },
				 { text: 'manager', weight:17 },
				 { text: 'go', weight:30 },
				 { text: 'players', weight:18 },
				 { text: 'last', weight:13 },
				 { text: 'start', weight:58 },
				 { text: 'cup', weight:31 },
				 { text: 'join', weight:17 },
				 { text: 'us', weight:39 },
				 { text: 'full', weight:40 },
				 { text: 'stadium', weight:17 },
				 { text: 'streams', weight:125 },
				 { text: 'apr', weight:61 },
				 { text: 'reddit', weight:31 },
				 { text: 'take', weight:10 },
				 { text: 'love', weight:17 },
				 { text: 'sports', weight:25 },
				 { text: 'starting', weight:13 },
				 { text: 'picks', weight:19 },
				 { text: '1', weight:59 },
				 { text: 'madrid', weight:20 },
				 { text: 'ham', weight:13 },
				 { text: 'burnley', weight:12 },
				 { text: 'score', weight:14 },
				 { text: 'round', weight:15 },
				 { text: 'streaming', weight:17 },
				 { text: 'edt', weight:16 },
				 { text: '10', weight:16 },
				 { text: 'best', weight:16 },
				 { text: 'league', weight:40 },
				 { text: 'united', weight:49 },
				 { text: 'fans', weight:18 },
				 { text: 'tips', weight:66 },
				 { text: 'simulator', weight:38 },
				 { text: 'run', weight:39 },
				 { text: 'free', weight:56 },
				 { text: 'kaizer', weight:13 },
				 { text: 'chiefs', weight:23 },
				 { text: 'baxter', weight:11 },
				 { text: 'work', weight:10 },
				 { text: 'games', weight:18 },
				 { text: 'watch', weight:13 },
				 { text: 'win', weight:23 },
				 { text: 'im', weight:10 },
				 { text: 'know', weight:15 },
				 { text: '4', weight:31 },
				 { text: 'nice', weight:12 },
				 { text: 'women', weight:11 },
				 { text: 'like', weight:28 },
				 { text: 'click', weight:10 },
				 { text: 'championship', weight:10 },
				 { text: 'check', weight:11 },
				 { text: 'goal', weight:20 },
				 { text: 'help', weight:14 },
				 { text: 'st', weight:18 },
				 { text: 'trials', weight:32 },
				 { text: 'trial', weight:12 },
				 { text: 'team', weight:32 },
				 { text: 'granada', weight:12 },
				 { text: 'draw', weight:12 },
				 { text: 'two', weight:10 },
				 { text: 'b', weight:11 },
				 { text: '16', weight:26 },
				 { text: 'girls', weight:11 },
				 { text: '2011', weight:18 },
				 { text: '2012', weight:15 },
				 { text: 'gb', weight:21 },
				 { text: 'pete', weight:15 },
				 { text: 'raiders', weight:15 },
				 { text: 'one', weight:27 },
				 { text: 'every', weight:16 },
				 { text: 'play', weight:31 },
				 { text: 'vs', weight:180 },
				 { text: 'stream', weight:52 },
				 { text: 'odds', weight:17 },
				 { text: 'v', weight:51 },
				 { text: 'day', weight:31 },
				 { text: 'tonight', weight:15 },
				 { text: 'pm', weight:41 },
				 { text: 'park', weight:10 },
				 { text: 'happy', weight:27 },
				 { text: '3', weight:37 },
				 { text: 'whos', weight:10 },
				 { text: 'winning', weight:14 },
				 { text: 'pick', weight:24 },
				 { text: 'ronaldo', weight:15 },
				 { text: 'soccer', weight:217 },
				 { text: 'lets', weight:20 },
				 { text: 'bet', weight:25 },
				 { text: 'esports', weight:14 },
				 { text: 'man', weight:31 },
				 { text: 'city', weight:70 },
				 { text: 'follow', weight:30 },
				 { text: 'today', weight:35 },
				 { text: 'todays', weight:30 },
				 { text: '6', weight:14 },
				 { text: 'final', weight:11 },
				 { text: 'player', weight:15 },
				 { text: 'time', weight:59 },
				 { text: 'second', weight:12 },
				 { text: 'real', weight:10 },
				 { text: 'fc', weight:71 },
				 { text: 'please', weight:18 },
				 { text: 'club', weight:18 },
				 { text: 'et', weight:76 },
				 { text: 'available', weight:10 },
				 { text: 'learn', weight:10 },
				 { text: 'game', weight:61 },
				 { text: '15', weight:11 },
				 { text: 'first', weight:25 },
				 { text: '5', weight:19 },
				 { text: 'another', weight:16 },
				 { text: '2', weight:51 },
				 { text: 'get', weight:20 },
				 { text: 'coach', weight:20 },
				 { text: 'link', weight:21 },
				 { text: 'west', weight:13 },
				 { text: '32', weight:24 },
				 { text: 'date', weight:17 },
				 { text: '2022', weight:57 },
				 { text: 'location', weight:19 },
				 { text: 'venue', weight:16 },
				 { text: 'goals', weight:19 },
				 { text: 'fa', weight:16 },
				 { text: 'newcastle', weight:15 },
				 { text: 'leicester', weight:12 },
				 { text: 'liverpool', weight:23 },
				 { text: 'betting', weight:45 },
				 { text: 'simulation', weight:38 },
				 { text: 'half', weight:13 },
				 { text: 'hit', weight:13 },
				 { text: 'great', weight:30 },
				 { text: 'tip', weight:14 },
				 { text: 'arsenal', weight:12 },
				 { text: 'back', weight:18 },
				 { text: 'fan', weight:10 },
				 { text: '18', weight:10 },
				 { text: 'released', weight:15 },
				 { text: 'list', weight:18 },
				 { text: 'apply', weight:10 },
				 { text: 'see', weight:14 },
				 { text: 'highlights', weight:12 },
				 { text: 'ball', weight:13 },
				 { text: '11', weight:12 },
				 { text: 'could', weight:11 },
				 { text: 'season', weight:25 },
				 { text: 'thank', weight:17 },
				 { text: 'norwich', weight:11 },
				 { text: 'manchester', weight:22 },
				 { text: 'matches', weight:12 },
				 { text: '17th', weight:14 },
				 { text: 'analysis', weight:22 },
				 { text: 'red', weight:10 },
				 { text: '5v5', weight:11 },
				 { text: 'south', weight:12 },
				 { text: 'tampa', weight:10 },
				 { text: 'def', weight:29}];

			$('#demo').jQCloud(words, {
				  width: 500,
				  height: 450
			});
		});
		
	</script>
	
</body>

</html>